* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    padding: 1.5% 26%;
    background-color: bisque;
    box-shadow: 0 0 10px antiquewhite;
}

header nav a {
    margin-right: 2.5%;
    font-size: larger;
    text-decoration: none;
    color: black;
}

body {
    background-color: cadetblue;
}

main {
    display: flex;
    flex-direction: column;
    padding: 5% 15%;
}


h2.main-header {
    font-size: x-large;
    margin-bottom: 3%;
}

section {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

section.content {
    margin: 3% 0;
    padding: 0 17%;
    
}

section.form-entry {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    
}

form {
    padding: 5%;
    box-shadow: 0 0 10px rgb(61, 188, 192);
    text-align: center;
    background-color:antiquewhite
}

input, textarea {
    margin: 2.5% 32%;
}

textarea {
    max-width: fit-content;

}

/* textarea {
    margin: 2.5% 20%;
} */


/* Footer Styling */

footer {
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    box-shadow: 0 0 10px antiquewhite;
    background-color: bisque;
}

footer h2 {
    display: inline;
    font-size: 18px;
    border: 1px dotted black;
    padding: 0 .5%;
}

footer h2 a {
    text-decoration: none;
    color: black;
}

#dev-name {
    color:coral;
    font-weight: 500;
}
