* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 1.5% 15%;
    background-color: bisque;
    box-shadow: 0 0 10px black;
}

header nav a {
    margin-right: 5%;
    font-size: larger;
    text-decoration: underline;
    color: black
}

header nav a:hover {
    color: coral;
    text-decoration: overline;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("../imgs/background-image.jpg");
    /* min-height: 100%; */
    /* background-color: cadetblue; */
}

main {
    display: flex;
    flex-direction: column;
    padding: 5% 15%;
    margin-top: 5%;
}

h2.main-header {
    font-size: x-large;
    margin-bottom: 3%;
    text-shadow: 2px 2px coral
    /* text-decoration: underline; */
}

section.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3% 13%;
}

section.about, section.work, section.contact {
    padding: 4.5%;
    box-shadow: 0 0 10px black;
    background-color:antiquewhite;
}

section.about {
    align-items: center;
}

section.about img {
    margin: 5% 0;
    max-width: 25vw;
    max-height: 35vh;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
}

/* [About Me] image selector "logic" and lightbox*/
.image2 {
    display: none;
}

input[type="radio"] {
    accent-color: grey;
}

#pict1[type="radio"]:checked ~ .image1 {
    display: block;
}

#pict2[type="radio"]:checked ~ .image2 {
    display: block;
}

#pict2[type="radio"]:checked ~ .image1 {
    display: none;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}
  
#image1-ref:target {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image2-ref:target {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox .lb {
    display: block;
    width: 100%;
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lb-1 {
    background-image: url("../imgs/hiking-1.jpg");
}

.lb-2 {
    background-image: url("../imgs/hiking-2.jpg");
}

/* [About Me] END */


/*[Contact Me] cards and card holder */
div.card-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.contact-card {
    padding-right: 2.5%;
}

div.contact-card a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

div.contact-card a i {
    margin-bottom: 15%;
    color: black;
}

div.contact-card a:hover, div.contact-card a i:hover {
    text-decoration: none;
    color:coral
}
/*[Contact Me] END */

/* Footer Styling */
footer {
    bottom: 0;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    box-shadow: 0 0 10px black;
    background-color: bisque;
}

footer h2 {
    /* display: inline; */
    font-size:  large;
    padding: 0 .5%;
}

footer h2 a {
    text-decoration: none;
    color: black;
}

footer h2 a:hover {
    color: coral;
}

#dev-name {
    color:coral;
    font-weight: 500;
}
/* END */