* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    padding: 1.5% 15%;
}

header nav a {
    margin-right: 1em;
    font-size: larger;
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    padding: 5% 15%;
}


h2.main-header {
    font-size: x-large;
    margin-bottom: 1em;
}

section {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

section.content {
    margin: 5em 0;
    padding: 0 17%;
}

section.form-entry {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}

form {
    padding: 5%;
    border: 1px solid black;
    text-align: center;
}

input, textarea {
    margin: 2em 0;
}


/* Footer Styling */

footer {
    text-align: center;
}

footer h2 {
    font-size: 18px;
}

footer small {
    font-size: 16px
}

#dev-name {
    color: palevioletred;
    font-weight: 500;
}
